@page
@model AreaRiscosModel
@{
    ViewData["Title"] = "Áreas com Risco";
}

<!-- Link para o CSS -->
<link rel="stylesheet" href="~/css/MetodosGet.css" />

<div class="container-principal">
    <h2>Áreas com Risco</h2>

    @if (Model.Areas != null && Model.Areas.Any())
    {
        <ul>
            @foreach (var area in Model.Areas)
            {
                <li>
                    <strong>Nome:</strong> <span>@area.Nome</span>
                    <strong>Descrição:</strong> <span>@area.Descricao</span>
                    <strong>Tipo:</strong> <span>@area.TipoDeRisco</span>
                    <strong>Latitude:</strong> <span>@area.Latitude</span>
                    <br />
                    <strong>Longitude:</strong> <span>@area.Longitude</span>
                </li>
            }
        </ul>
    }
    else
    {
        <p>Nenhuma área de risco encontrada.</p>
    }
</div>
</div>
